:root {
  --spacing: 15px;
  --color-text: #192224;
  --color-grey: #d1d1d1;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color:var(--color-text);
  
}

body {
	background-image: linear-gradient(#dfebed, #d0dadb);
  min-height: 100vh;
  margin: 0;
}

h1 {
	margin: 0;
}
  
.container {
	background-image: linear-gradient(#f0f7f7, #f7feff);
  width: 400px;
  margin:  2rem auto;
  overflow: hidden;
  border-radius: var(--spacing);
  box-sizing: border-box;
}