:root {
  --spacing: 15px;
}

body {
	background-color: #E5ECF0;
	font-family: 'Poppins', sans-serif;
	margin: 0;
}
h1 {
	padding: var(--spacing);
	margin: 0;
}

input {
    border-radius: var(--spacing);
    border: none;
    padding: var(--spacing);
    color: gray;
    background: white ;
    width: 300px;
    font-size: 14px;
  }

  img {
  float: left;
  shape-outside: circle(50%);
  	
  }
  .arrow {
    height: 1.25em;
  }
   /*.search {
    padding: 20px;
  }
  
  .message {
  	color: gray;
  }*/
.container {
	background-color: #fcfcfc;
    width: 400px;
    margin: 2rem auto;
	border-radius: var(--spacing);
	overflow: hidden;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	text-decoration-color: black; 
  flex-direction: row; 
}

.secondContainer {
	background-color: white;
	border-radius: 5px;

}
